TravellingSalesman/build/
TravellingSalesman/nbproject/private/private.properties
TravellingSalesman/nbproject/private/private.properties
*.properties

TravellingSalesman/nbproject/private/private.xml
TravellingSalesman/dist/
TravellingSalesman/nbproject/private/private.xml
ParametroDeCorte/ParamCorte/.idea/workspace.xml
